@{
    ViewData["Title"] = "Home Page";
}


<h1>Họ và tên : Khuất Đăng Khoa</h1>
<h1>Mã Sinh Viên : 231230812</h1>
<h1>Lớp : CNTT1-K64</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
